@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    background:#E5E5E5 ;
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    padding: 0;
    margin: 0%;
}


.header__logo{
    padding-top: 10px;
    margin-top: 1%;
    margin-left: 3%;
    width: 31px;
    height: 48px;
}


.principal{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    gap: 70px;
    margin-bottom: 2%;
    box-sizing: border-box;
}


.principal__izquierda{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}


.principal__derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    gap: 1px;
}


.text-area{
    border: none;
    color: #0A3871;
    margin-top: 10px;
}
.text-area:focus {
    outline: none;
}
::placeholder { color: #0A3871;}


.text-area_mensaje{
    background-image: url("../assets/Muneco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #495057;
    caret-color: transparent;
    width: 336px;
    height: 304px;
    padding-bottom: 0%;
}


.text-area_mensaje:focus{
    outline: none;
}


.principal__salida_mensaje_inicial{
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #343A40;
}


.principal__salida_mensaje_inicial_pequeno{
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    color: #343A40;
}


.botones{
    display: flex;
    margin-top: 18px;
    gap: 24px;
}


.btn_encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #E5E5E5;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 16px;
}


.btn_desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 16px;
}


.principal__botones__etiqueta{
    color: #495057;
    font-size: 18px;
    margin: 2px;


}


.btn_copiar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 16px;
    display: none;
}


.footer{
    color: #495057;
    font-size:12px;
    text-align: center;
    align-items: center;
}


@media (max-width: 1384px) {
  
    .principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-area{
        border: none;
        color: #0A3871;
        margin-top: 10px;
        width:auto;
        height:auto;
    }


    .principal__derecha{
        display: flex;
        flex-direction: column;
        width: auto;
    }


    .text-area_mensaje{
        background-image: none;
        width:auto;
        height:auto;
        background: transparent;
        position: relative;
        display: none;
        text-align: justify;
    }
    
    
     @media (max-width: 375px) {
    
        .principal{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
    
        .principal__izquierda{
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            align-items: center;
        }
    
    
        .text-area{
            border: none;
            color: #0A3871;
            margin-top: 10px;
            width:auto;
            height:auto;
            text-align: center;
        }
        

        .botones{
            display: flex;
            flex-direction: column;
            margin-top: 18px;
            gap: 24px;
            align-items: center;
        }


        .principal__derecha{
            display: flex;
            flex-direction: column;
            width: auto;
            align-items: center;
        }
    

        .text-area_mensaje{
            background-image: none;
            width:auto;
            height:auto;
            background: transparent;
            position: relative;
            display: none;
        }
       
}

